.recipe-detail-label-and-img {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-detail-label {
    justify-self: flex-start;
    font-size: 1.5em;
  }

  div {
    align-self: flex-start;

    display: flex;

    .recipe-detail-img {
      margin-right: 1em;
      width: 200px;
      height: 200px;
    }
    .full-recipe-link {
      margin: 0;
      
      .recipe-link {
        color: inherit;
      }
    }
  }
}
